@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE; /* Fondo claro para toda la aplicación */
    font-family: 'Roboto', sans-serif;
}

.miembros .abrir-modal {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007BFF; /* Color de fondo del botón */
    border: none;
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.miembros .abrir-modal:hover {
    background-color: #0056b3; /* Color más oscuro al pasar el ratón */
    transform: translateY(-2px); /* Efecto de elevación */
}

.miembros .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro y semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Asegúrate de que la modal esté por encima de otros elementos */
}

.miembros .modal-contenido {
    background-color: #fff; /* Fondo blanco para el contenido de la modal */
    padding: 2rem;
    border-radius: 12px; /* Bordes suaves */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px; /* Ancho máximo de la modal */
    text-align: center; /* Centrar texto */
    max-height: 60vh; /* Altura máxima del cuadro */
}

.miembros .titulo {
    background-color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.miembros .busqueda {
    padding: 0.75rem;
    width: 90%; /* Ancho del campo de búsqueda */
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 25px; /* Bordes redondeados */
    font-size: 1rem;
    color: #333;
    transition: border 0.3s;
}

.miembros .busqueda:focus {
    border-color: #007BFF; /* Cambiar el color del borde al enfocar */
    outline: none; /* Eliminar el contorno por defecto */
}

.miembros .lista-miembros {
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin-bottom: 1.5rem; /* Espacio debajo de la lista */
    max-height: 180px; /* Altura máxima para la lista de miembros */
    overflow-y: auto;
}

.miembros .miembro-item {
    background-color: #fff;
    padding: 0.75rem;
    font-size: 1rem;
    color: #1d1d1b;
    text-align: left;
    transition: background-color 0.3s;
}

.miembros .cerrar-modal {
    padding: 0.5rem 1rem;
    background-color: #dc3545; /* Color de fondo para el botón de cerrar */
    color: white;
    border: none;
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.miembros .cerrar-modal:hover {
    background-color: #c82333; /* Color más oscuro al pasar el ratón */
    transform: translateY(-2px); /* Efecto de elevación */
}

/* Para pantallas de 0 a 500 px */
@media (max-width: 500px) {
    .miembros .main-container {
        flex-direction: column;
        align-items: center;
    }

    .miembros {
        grid-template-columns: repeat(7, 1fr);
    }

    .miembros .miembros-day {
        padding: 6px;
        font-size: 14px;
    }

    .miembros .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .miembros  .filters label,
    .filters select {
        font-size: 14px;
    }

    .miembros  .event-details {
        max-height: 300px;
    }
}

/* Para pantallas de 500px a 900px */
@media (min-width: 501px) and (max-width: 899px) {
    .miembros {
        display: none;
    }
    .miembros .no-format-message {
        display: block;
    }
}

/* En Calendario.css */
.miembros .no-format-message {
    background-color: #ffdddd; /* Fondo rojo claro */
    color: #d9534f; /* Color de texto rojo oscuro */
    padding: 15px;
    border: 1px solid #d9534f; /* Borde en color similar */
    border-radius: 5px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 300px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Para pantallas de 900px en adelante */
@media (min-width: 900px) {
    .miembros  .main-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .miembros  {
        grid-template-columns: repeat(7, 1fr);
    }

    .miembros .miembros-day {
        padding: 10px;
        font-size: 16px;
    }
}
