@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400&family=Merriweather:ital,wght@0,300;1,300&family=Newsreader:wght@200;300;400&family=Open+Sans:ital,wght@1,300&family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    font-family: 'Poppins', sans-serif, 'Open Sans', sans-serif, 'Newsreader', serif, 'Hanuman', serif, 'Merriweather', serif;
}

.sigle_group {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    color: #1d1d1b;
    background-color: #EEEEEE;
    padding-bottom: 3rem;
    padding: 0 2rem;
}

.sigle_group .info_grupo {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.sigle_group .info_grupo h1 {
    background-color: #EEEEEE;
    min-width: 59%;
    max-width: 60%;
    font-size: 28px;
    min-height: 85px;
    max-height: 100px;
}

.sigle_group .info_grupo ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    min-width: 37%;
    max-width: 37%;
    background-color: #EEEEEE;
}

.sigle_group ul li {
    list-style: none;
    margin: .3rem;
}

.sigle_group ul li button {
    border: none;
    font-size: 30px;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: #EEEEEE;
    padding: 20px;
    border-radius: 8px;
    width: 90%;
    max-width: 400px;
    text-align: center;
}

.modal-content h2 {
    font-size: 24px;
    margin-bottom: 1rem;
}

.modal-content input,
.modal-content textarea {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.modal-content button {
    margin: 10px 5px;
    padding: 10px 20px;
    border: none;
    background-color: #222831;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.modal-content button:hover {
    background-color: #222831;
}

/* Estilos para pantallas grandes (desde 900px) */
@media (min-width: 900px) {
    .sigle_group {
        padding: 2rem 4rem;
    }

    .modal-content {
        width: 400px;
    }

    .sigle_group .info_grupo h1 {
        font-size: 40px;
    }

    .grupo-title {
        font-size: 22px;
    }

    .grupo-content {
        font-size: 18px;
    }

    .grupos .crear-grupo-btn {
        min-width: 15rem;
        max-width: 5rem;
        padding: 10px 20px;
        font-size: 16px;
        margin: 10px 0 27px 0;
    }

    .sigle_group .info_grupo {
        justify-content: space-between;
    }

    .sigle_group .info_grupo ul {
        justify-content: flex-end;
    }

    .sigle_group .info_grupo ul li svg {
        font-size: 2.4rem;
    }

    .eventos {
        display: flex;
        flex-wrap: wrap;
    }
}

.sigle_group .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6); /* Fondo oscuro y semi-transparente */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Asegúrate de que la modal esté por encima de otros elementos */
}

.sigle_group .modal-contenido {
    background-color: #fff; /* Fondo blanco para el contenido de la modal */
    padding: 2rem;
    border-radius: 12px; /* Bordes suaves */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px; /* Ancho máximo de la modal */
    text-align: center; /* Centrar texto */
    max-height: 60vh; /* Altura máxima del cuadro */
}

.sigle_group .titulo {
    background-color: #fff;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.sigle_group .busqueda {
    padding: 0.75rem;
    width: 90%; /* Ancho del campo de búsqueda */
    margin-bottom: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 25px; /* Bordes redondeados */
    font-size: 1rem;
    color: #333;
    transition: border 0.3s;
}
.sigle_group .busqueda:focus {
    border-color: rgba(0, 0, 0, 0.6); /* Cambiar el color del borde al enfocar */
    outline: none; /* Eliminar el contorno por defecto */
}

.sigle_group .lista-miembros {
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    margin-bottom: 1.5rem; /* Espacio debajo de la lista */
    max-height: 180px; /* Altura máxima para la lista de miembros */
    overflow-y: auto;
}

.sigle_group .miembro-item {
    background-color: #fff;
    padding: 0.75rem;
    font-size: 1rem;
    color: #1d1d1b;
    text-align: left;
    transition: background-color 0.3s;
}

.sigle_group .cerrar-modal {
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.6); /* Color de fondo para el botón de cerrar */
    color: white;
    border: none;
    border-radius: 25px; /* Bordes redondeados */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.sigle_group .cerrar-modal:hover {
    background-color: rgba(0, 0, 0, 0.897); /* Color más oscuro al pasar el ratón */
    transform: translateY(-2px); /* Efecto de elevación */
}

/* Para pantallas de 0 a 500 px */
@media (max-width: 500px) {
    .sigle_group .main-container {
        flex-direction: column;
        align-items: center;
    }

    .sigle_group {
        grid-template-columns: repeat(7, 1fr);
    }

    .sigle_group .miembros-day {
        padding: 6px;
        font-size: 14px;
    }

    .sigle_group .filters {
        flex-direction: column;
        align-items: flex-start;
    }

    .sigle_group .filters label,
    .filters select {
        font-size: 14px;
    }

    .sigle_group .event-details {
        max-height: 300px;
    }
}

/* Para pantallas de 500px a 900px */
@media (min-width: 501px) and (max-width: 899px) {
    .sigle_group {
        display: none;
    }
    .sigle_group .no-format-message {
        display: block;
    }
}

/* En Calendario.css */
.no-format-message {
    background-color: #ffdddd; /* Fondo rojo claro */
    color: #d9534f; /* Color de texto rojo oscuro */
    padding: 15px;
    border: 1px solid #d9534f; /* Borde en color similar */
    border-radius: 5px;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 300px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Para pantallas de 900px en adelante */
@media (min-width: 900px) {
    .sigle_group .main-container {
        flex-direction: row;
        justify-content: space-around;
    }

    .sigle_group {
        grid-template-columns: repeat(7, 1fr);
    }

    .sigle_group .miembros-day {
        padding: 10px;
        font-size: 16px;
    }
}
